@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.color {
    color: #FF5400;
}


/* share style */

/* Nav-section */
.nav-section {
    display: flex;
}

.navbar {

    display: flex;

}

.navbar li {
    list-style: none;
    margin-right: 35px;
}

.navbar li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #424247;
}

/* Nav-section end */

/* banner-section start */
.banner-section {
    text-align: center;

    background-size: cover;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin-bottom: 100px;
}

.banner-content {
    padding-top: 150px;
    color: #fff;
}

.banner-input-section {
    display: flex;
    justify-content: center;
}

.find-now {
    margin: 0;
    color: #fff;
    background: #FF5400;
    border-radius: 8px;
    width: 150px;
    border: 0px;
    height: 49px;
    margin-top: 6px;
    font-weight: 700;
}

.btn {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 150px;
    border: 0px;
    margin: 6px;
}

/* banner-section End */

/* Tour section Start */
.tour-section {

    display: flex;

}

.tour-content {
    width: 550px;
}

.tour-title {
    color: #131318;

    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* Tour section End */

/* Destination section */

.distination-content {
    text-align: center;
    margin-top: 100px;
}

.distination-content h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
 
}

.div-1 {
    position: relative;
}

.div-1 img {
    height: 100%;
    width: 100%;
}

.text-1 {
    position: absolute;
    top: 43%;
    color: #fff;
    left: 44%;
    font-size: 28px;
    font-weight: 800;
}

.div-2 {
    position: relative;
}

.div-2 img {
    height: 100%;
    width: 100%;
}

.text-2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

   margin-bottom: 10px;
}
.row-2{
    display: grid;
    grid-template-columns: repeat(3, 30% 40% 30% );
}


.Srilanka{
    position: relative;
    margin-left: 70px;
}
.srilanka img{
    height: 100%;
    width: 100%;
}
.srilanka-text h2{
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.North-America{
    position: relative;
    margin-left: 70px;
}
.North-America img{
    height: 100%;
    width: 100%;
}
.North-America-text h2{
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}
.Kashmir{
    position: relative;
    
}
.Kashmir img{
    height: 100%;
    width: 100%;
}
.Kashmir-text h2{
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}



.row-3{
    display: grid;
    grid-template-columns: repeat(2, 45% 50%);
    margin-top: 30px;
}
.bangladesh{
   position: relative;

}
.Bangladesh img{
    width: 100%;
    height: 100%;
}
.Bangladesh-text h2{
   position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.Bandarban{
    position: relative;
}
.Bandarban img{
    width: 100%;
    height: 100%;
    margin-left: -63;
}
.Bandarban-text{
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}


@media screen and (max-width:600px) {

    .nav-section,
    .banner-input-section,
    .tour-section {
        flex-direction: column;
    }

    .banner-content {
        padding-top: 80px;
        margin-left: 70px;
    }

    .banner-input-section {
        margin-bottom: 20px;
    }
    .row{
        grid-template-columns: 1fr;

        width: 90%;
    }
    .row-2{

        grid-template-columns: 1fr;
        width: 90%;
    }
    .row-3{
        grid-template-columns: 1fr;
        width: 90%;
      
    }
}