@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
   
}

.color {
    color: #FF5400;
}


/* share style */

/* Nav-section */
.nav-section {
    display: flex;
}
.nav-icon{
    display: flex;
}
.nav-icon .icon-head {
    margin-top: 13px;
    margin-right: 5px;
}
.navbar {

    display: flex;

}

.navbar li {
    list-style: none;
    margin-right: 35px;
}

.navbar li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #424247;
}

/* Nav-section end */

/* banner-section start */
.banner-section {
    text-align: center;

    background-size: cover;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin-bottom: 100px;
}

.banner-content {
    padding-top: 150px;
    color: #fff;
}

.banner-input-section {
    display: flex;
    justify-content: center;
}

.find-now {
    margin: 0;
    color: #fff;
    background: #FF5400;
    border-radius: 8px;
    width: 150px;
    border: 0px;
    height: 49px;
    margin-top: 6px;
    font-weight: 700;
}

.btn {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 150px;
    border: 0px;
    margin: 6px;
}

/* banner-section End */

/* Tour section Start */
.tour-section {

    display: flex;

}

.tour-content {
    width: 550px;
}

.tour-title {
    color: #131318;

    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.read-more{
      
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    margin-bottom: 10px;
}

/* Tour section End */

/* Destination section */

.distination-content {
    text-align: center;
    margin-top: 100px;
}

.distination-content h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.div-1 {
    position: relative;
}

.div-1 img {
    height: 100%;
    width: 100%;
}

.text-1 {
    position: absolute;
    top: 43%;
    color: #fff;
    left: 44%;
    font-size: 28px;
    font-weight: 800;
}

.div-2 {
    position: relative;
}

.div-2 img {
    height: 100%;
    width: 100%;
}

.text-2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 10px;
}

.row-2 {
    display: grid;
    grid-template-columns: repeat(3, 30% 40% 30%);
}


.Srilanka {
    position: relative;
    margin-left: 70px;
}

.srilanka img {
    height: 100%;
    width: 100%;
}

.srilanka-text h2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.North-America {
    position: relative;
    margin-left: 70px;
}

.North-America img {
    height: 100%;
    width: 100%;
}

.North-America-text h2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.Kashmir {
    position: relative;

}

.Kashmir img {
    height: 100%;
    width: 100%;
}

.Kashmir-text h2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}



.row-3 {
    display: grid;
    grid-template-columns: repeat(2, 45% 50%);
    margin-top: 30px;
}

.bangladesh {
    position: relative;

}

.Bangladesh img {
    width: 100%;
    height: 100%;
}

.Bangladesh-text h2 {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

.Bandarban {
    position: relative;
}

.Bandarban img {
    width: 100%;
    height: 100%;
    margin-left: -63;
}

.Bandarban-text {
    position: absolute;
    top: 34%;
    color: #fff;
    left: 40%;
    font-size: 28px;
    font-weight: 800;
}

/* choose section start */
.choose-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-content {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 100px;
}

.choose-content h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.choose-box {
    display: flex;
    gap: 20px;
}

.box-left {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.box-right {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}





.choose-bottom {
    width: max-content;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* choose section end */


/* watch-section start */
.watch-section {

    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.watch-content {
    padding: 30px;
}

.watch-content .watch-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    margin-top: -24px;

}

.watch-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.watch-list li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.watch-btn {
    margin-top: 25px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 800;
    border: 0;

}

.watch-img {
    background-image: url('Images/Group\ 40089.png');
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

.watch-img h2 {
    margin-top: 176px;
    margin-left: 159px;
    color: #fff;
}

/* watch-section end */


/* newsletter section start */
.news {
    display: flex;
    gap: 30px;
    justify-content: center;

    margin-bottom: 100px;
}

.news-left {
    border: 2px solid #FF5400;
    padding: 10px 40px;
    border-radius: 10px;
}

.news-left h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-left p {
    margin-bottom: 15px;
}

.news-left input {
    margin-top: 15px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    margin-bottom: 17px;
    border: 1px solid #FF5400;
    padding: 5px 20px;

}

.news-left .btn {
    border-radius: 8px;
    background: #FF5400;
    font-weight: 800;
    color: #FFF;
    font-size: 20px;
}

.img-right {
    width: 100%;
    background-repeat: no-repeat;

    background-image: url("Images/Rectangle\ 8\ \(1\).png");
}

.img-right .img-text {
    background-color: #FF5400;
    width: 320px;
    height: 120px;
    border-radius: 16px;
    margin-top: 30%;
    margin-left: 40%;
    transform: rotate(-19.628deg);
    text-align: center;
    color: #FFF;
}

.img-text h4 {
    padding-top: 24px;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0px;
}

.img-text h3 {
    font-weight: 800;
    font-size: 32px;
    margin-top: 7px;
}

/* newsletter section  End*/

/* footer-section start */
.main-footer{
    background: rgba(19, 19, 24, 0.05);
  padding: 24px;
}
.main-footer p {
    text-align: center;
    margin-bottom: 15px;
}

.footer-content {
    width: 300px;
    display: flex;
    align-items: center;
}

.footer-title {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}
.icon {
    margin-top: 20px;
}

.social {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.icon-size{
    margin-right: 10px;
   
}
.end{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* footer-section end*/



@media screen and (max-width:600px) {

    .destination img {
        width: 90%;
    }

    .nav-section,
    .banner-input-section,
    .tour-section,
    .choose-box,
    .watch-section,
    .news {
        flex-direction: column;
    }

    .banner-content {
        padding-top: 80px;
        margin-left: 70px;
    }

    .banner-input-section {
        margin-bottom: 20px;
    }

    .row {
        grid-template-columns: 1fr;

        width: 90%;
    }

    .row-2 {

        grid-template-columns: 1fr;
        width: 90%;
    }

    .row-3 {
        grid-template-columns: 1fr;
        width: 90%;

    }

    .choose-bottom {
        width: max-content;
    }

    .img-right {
        height: 500px;
    }

    .img-right .img-text {
        margin-top: 43%;
        margin-left: 40%;
    }

}